@import "tailwindcss";
@plugin "daisyui" {
  exclude: scrollbar, rootcolor;
}


/* daisyui */
.input {
  &:focus, &:focus-within {
    outline: none;
  }
  border: none;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

