{% assign sort_rule = site.settings.sort_rule.value %}
{% assign pages = site.pages['/'].children_in_list | order_by: sort_rule %}

<div id="screen" class="bg-primary bg-gradient-to-r from-white/20 md:to-black/20 h-[110px] absolute -top-[64px] left-0 w-full z-0"></div>

<div class="overflow-visible max-w-5xl mx-auto h-full p-2 sm:px-0 flex flex-col sm:flex-row sm:space-x-2">
  <div class="w-full space-y-2 lg:space-y-4">
    {% paginate_tag pages, per: 6 %}
      {% for page in pages %}
        {% render "card", page: page %}
      {% else %}
        {{ 'generic.empty' | t }}
      {% endfor %}

      <div class='flex justify-center'>
        {% render 'paginate', paginate: paginate %}
      </div>
    {% endpaginate_tag %}
  </div>

  <!-- Sidebar Section -->
  <aside class="hidden w-64 pl-4 sm:block shrink-0 sticky top-[74px] h-fit">
    {% render 'sidebar', site: site %}
  </aside>
</div>

{% schema %}
  {
    "name": "Index",
    "description": "Card Style",
    "thumb_url": "images/theme/index-card.png",
    "preview_image_urls": [
      "images/theme/index-card.png"
    ],
    "sub_page_templates": ["page"]
  }
{% endschema %}